<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I’m a high school senior based in Dallas, TX and I’m the entertainment editor of 
      <a class="underline-link" href="https://www.coppellstudentmedia.com/" target="_blank">The Sidekick</a>, my high school’s award-winning student-run online and print publication. I’m also the founder and editor-in-chief of 
      <a class="underline-link" href="https://www.jacqueriemag.com/" target="_blank">Jacquerie Magazine</a>, a publication exploring the intersection between power and people, by and for young people. I have words in Mic and Keke Magazine am a fellow with 
      <a class="underline-link" href="https://www.solomonrajput.com" target="_blank">Solomon Rajput</a>'s Congressional campaign. Previously, I was the national communications director of 
      <a class="underline-link" href="https://youthclimatestrikeus.org/" target="_blank">U.S. Youth Climate Strike</a>.
    </p>

    <p>
      I have a huge passion for data science, innovation, and creative arts, especially where they meet social justice. My freelancing is focused on politics and Gen Z culture, but my interests are varied—from
       science and math to journalism, design, and video production. 
      Recently, I’ve been thinking about how data- and science-driven public policy and city planning can bring about a better world.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I’m probably singing, making art, or spending time with my two little sisters (sometimes all three).
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
